<div class="timer">
    <div class="timer-row">
        <p class="timer-time  timer-hours">{{this.date.getHours()}} <span class="timer-span">Hour(s)</span></p>
        <p class="timer-time timer-minuts">{{this.date.getMinutes()}} <span class="timer-span">minuts</span></p>
        <p class="timer-time timer-seconds">{{this.date.getSeconds()}} <span class="timer-span">seconds</span></p>
    </div>

    <div class="timer-buttons">
        <button (click)="startTimer()" mat-mini-fab color="accent" class="timer-btn">{{condition}}</button>
        <button (click)="weigthTimer()" mat-mini-fab color="accent" [disabled]="conditionPause"  class="timer-btn">Wait</button>
        <button (click)="restartTime()" mat-mini-fab color="accent" class="timer-btn">Restart</button>
    </div>
</div>